<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        background-color: rgb(63, 39, 39);
      }
      table,
      th,
      td {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to Home page</h1>
    <div>
      <form action="/url" method="POST">
        <label>Enter your original url</label>
        <input type="text" name="url" placeholder="https://example.com" />
        <button type="submit">Generate</button>
      </form>
    </div>
    <div>
      <% if (locals.urls) { %>
      <table style="width: 100%">
        <thead>
          <tr>
            <th>S.NO</th>
            <th>shortID</th>
            <th>redirect</th>
            <th>Complete URL</th>
            <th>clicks</th>
          </tr>
        </thead>
        <tbody>
          <% urls.forEach((url,indx) => { %>
          <tr>
            <td><%=indx+1 %></td>
            <td><%=url.shortId %></td>
            <td><%=url.redirectUrl %></td>
            <td>http://localhost:3000/url/<%=url.shortId %></td>
            <td><%=url.visitHistory.length %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } %>
    </div>
  </body>
</html>
